# Environment Variables
.env

# Dev Environment
mysql
notes.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
*.egg

# Virtual Environments
venv/
env/
ENV/
.venv/